<button
  [ngStyle]="{
      backgroundColor: field?.isLeftClicked? 'lightsteelblue' : 'burlywood',
      color: +text < 2? 'rgb(0,0,255)' :
       +text < 3? 'rgb(0,128,0)' :
       +text < 4? 'rgb(255,0,0)' :
       +text < 5? 'rgb(0,0,128)' :
       +text < 6? 'rgb(128,0,0)' :
       +text < 7? 'rgb(0,128,128)' :
       +text < 8? 'rgb(0,0,0)' : 'rgb(128,128,128)'
      }"
  id="{{id}}"
  (click)="leftClick()"
  (contextmenu)="rightClick()"
  [disabled]="field?.isLeftClicked">
  {{text}}
</button>
